button[type=roll].sheet-blank-roll-button::before { content: ''; }

button[type=roll].sheet-blank-roll-button { 
 padding: 0px 8px 0px 0px; 
 height: 30px;
}

input[type=checkbox] { 
 width: 20px; 
 height: 20px; 
 background-color: green;
 vertical-align: 0px;
}

input[type=text].sheet-input-text-wide { 
 width: 400px; 
 height: 32px; 
 display:inline-block;
 vertical-align: middle;
}

select {
 width: 75px;
}

select.sheet-select-wide {
 width: 100px;
}

label {
 text-align: right;
 width: 75px;
 display:inline-block;
}

textarea { 
 height: 34px;
 width 3300px;
 display:inline-block;
 vertical-align: middle;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-config,
.sheet-dice-only {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="configuration"] ~ div.sheet-config,
.sheet-tabstoggle[value="dice-only"] ~ div.sheet-dice-only {
	display: block;
}
