button[type=roll].sheet-blank-roll-button::before { content: ''; }

button[type=roll].sheet-blank-roll-button { 
 padding: 0px 8px 0px 0px; 
 height: 30px;
}

input[type=checkbox] { 
 width: 32px; 
 height: 32px; 
 background-color: green;
 display:inline-block;
 vertical-align: middle;
}

input[type=textwide] { 
 width: 400px; 
 height: 32px; 
 display:inline-block;
 vertical-align: middle;
}

select {
 width: 60px;
}

select.sheet-select-wide {
 width: 100px;
}

label {
 text-align: right;
 width: 75px;
 display:inline-block;
}

textarea { 
 height: 32px;
 display:inline-block;
 vertical-align: middle;
}
