button[type=roll].sheet-blank-roll-button::before { content: ''; }

button[type=roll].sheet-blank-roll-button { padding: 5px 8px 2px 0px; }

input[type=checkbox] { 
 width: 32px; 
 height: 32px; 
 background-color: green;
 display:inline-block;
 vertical-align: middle;
}

textarea { 
 height: 32px;
 width: 500px;
 display:inline-block;
 vertical-align: middle;
}

textarea.sheet-npc-textarea { 
 height: 32px;
 width: 300px;
 display:inline-block;
 vertical-align: middle;
}

select {
 width: 60px;
}

select.sheet-select-wide {
 width: 100px;
}

label {
 text-align: right;
 width: 75px;
 display:inline-block;
}

input.sheet-toggle-show:not(:checked) ~ div.sheet-body,
input.sheet-toggle-hide:checked ~ div.sheet-body {
    display: none;
}

/*Configure the tab buttons*/
.sheet-character,
.sheet-npc,
.sheet-dice-only {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ div.sheet-character,
.sheet-tabstoggle[value="npc"] ~ div.sheet-npc,
.sheet-tabstoggle[value="dice-only"] ~ div.sheet-dice-only {
	display: block;
}
